mobile/.dart_tool/
mobile/.packages
mobile/.pub/
mobile/build/
mobile/ios/Flutter/Generated.xcconfig
mobile/ios/Flutter/flutter_export_environment.sh
mobile/ios/Flutter/Flutter.podspec
mobile/android/local.properties
mobile/android/key.properties
mobile/linux/flutter/ephemeral/
mobile/macos/Flutter/ephemeral/
mobile/windows/flutter/ephemeral/
